{% extends 'base.html' %}
{% load static %}


{% block headfiles %}
{% endblock %}

{% block support-status %}
"active"
{% endblock %}

{% block content %}
<div class="content">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				
				<div class="card-header">
					<h4 class="card-title">
						<i
								class="fas fa-newspaper"
								style="font-size: 1rem; padding-right: 10px;"
						></i>
						About this Webapp
					</h4>
				</div>
				<div class="card-body">
					<p align="justify">
						<span style="font-size: 140%;">Sentinel</span>
						allows its users to scrape tweets about a product or topic and gain valuable insights the help of Data Visualisation.
					</p>
					<br/>
					<p align="justify">
						<span style="font-size: 120%;">Sentinel</span>
						uses Deeplearning NLP models to classify the sentiment of scraped tweets.
					</p>
					<br/>
					<p>You can check out our source code on GitHub.</p>
					<a href="https://github.com/nikitperiwal/sentinel" target="_blank">
						<button class="btn btn-sm btn-primary animation-on-hover">
							<i class="fab fa-github"></i>
							Github Repo
						</button>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">
						<i
								class="fas fa-question-circle"
								style="font-size: 1rem; padding-right: 10px;"
						></i>
						FAQs
					</h4>
				</div>
				<div class="card-body">
					<h4>Q. Why is it taking so long?</h4>
					<p>Sentinel scrapes tweets from Twitter and this process can take some time. Try reducing the time period or the number of tweets for a faster response.</p>
					<br>
					<h4>Q. Are all tweets classified correctly?</h4>
					<p>Most of the tweets are classified correctly. But due to the intricacies of languages, we cannot say for certain if all tweets are classified correctly.</p>
				</div>
			</div>
		</div>
		
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				
				<div class="card-header">
					<h4 class="card-title">
						<i
								class="fas fa-newspaper"
								style="font-size: 1rem; padding-right: 10px;"
						></i>
						Contact Us
					</h4>
				</div>
				<div class="card-body">
					<p>If you have encountered any bugs or issues, you can raise an issue on our GitHub Repo.</p>
					<a href="https://github.com/nikitperiwal/sentinel/issues/new" target="_blank">
						<button class="btn btn-sm btn-primary animation-on-hover">
							<i class="fab fa-github"></i>
							Raise Issue
						</button>
					</a>
					<br/>
					<br/>
					<p>Alternatively, you can also contact us via mail.</p>
					<a href="mailto:nikit.periwal@gmail.com?subject=Report%20Sentinel%20Issue" target="_blank">
						<button class="btn btn-sm btn-primary animation-on-hover">
							<i class="fas fa-paper-plane"></i>
							Report Issue
						</button>
					</a>
					<a href="mailto:nikit.periwal@gmail.com?subject=Report%20Sentinel%20Issue" target="_blank">
						<button class="btn btn-sm btn-primary animation-on-hover">
							<i class="fas fa-paper-plane"></i>
							Contact Us
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}

{% block javascript %}
{% endblock%}