{% extends 'base.html' %}
{% load static %}


{% block headfiles %}
{% endblock %}

{% block support-status %}
"active"
{% endblock %}

{% block content %}
<div class="content">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				
				<div class="card-header">
					<h4 class="card-title">
						<i
								class="fas fa-newspaper"
								style="font-size: 1rem; padding-right: 10px;"
						></i>
						About this Webapp
					</h4>
				</div>
				<div class="card-body">
					<p>Sentinel allows its users to scrape tweets about a product or topic and gain valuable insights on the said data with the help of data visualisation.</p>
				</div>
			</div>
		</div>
		
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">
						<i
								class="fab fa-github"
								style="font-size: 1rem; padding-right: 10px;"
						></i>
						GitHub Repo
					</h4>
				</div>
				<div class="card-body">
					<h1></h1>
					<div class="btn btn-sm btn-primary btn-simple"> Check out the source code</div>
					
					<div class="badges">
						<!--						<a href="https://github.com/nikitperiwal/sentinel/issues"-->
						<!--						   target="_blank">-->
						<!--							<img src="https://img.shields.io/github/issues/nikitperiwal/sentinel"-->
						<!--							     alt="Issues">-->
						<!--						</a>-->
						<!--						<a href="https://github.com/nikitperiwal/sentinel/issues?q=is%3Aissue+is%3Aclosed"-->
						<!--						   target="_blank">-->
						<!--							<img src="https://img.shields.io/github/issues-closed/nikitperiwal/sentinel"-->
						<!--							     alt="Issues Closed">-->
						<!--						</a>-->
						<!--						<br>-->
						<!--						<a href="https://github.com/nikitperiwal/sentinel/pulls"-->
						<!--						   target="_blank">-->
						<!--							<img src="https://img.shields.io/github/issues-pr/nikitperiwal/sentinel"-->
						<!--							     alt="Pull Request">-->
						<!--						</a>-->
						<!--						<a href="https://github.com/nikitperiwal/sentinel/pulls?q=is%3Apr+is%3Aclosed"-->
						<!--						   target="_blank">-->
						<!--							<img src="https://img.shields.io/github/issues-pr-closed/nikitperiwal/sentinel"-->
						<!--							     alt="Pull Request Closed">-->
						<!--						</a>-->
					</div>
				
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">
						<i
								class="fas fa-paper-plane"
								style="font-size: 1rem; padding-right: 10px;"
						></i>
						Mail Us
					</h4>
				</div>
				<div class="card-body">
					<p>If you have any issues or want to contact us, you can do so via Mail too.</p>
					<a href="mailto:nikit.periwal@gmail.com?subject=Report%20Sentinel%20Issue">
						<button class="btn btn-sm btn-primary btn-simple">Report Issue</button>
					</a>
					<a href="mailto:nikit.periwal@gmail.com?subject=Report%20Sentinel%20Issue">
						<button class="btn btn-sm btn-primary btn-simple">Contact Us</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}

{% block javascript %}
{% endblock%}